li a {
  text-decoration-line: none;
  font-size: 18px;
  font-family: Didot;
  font-weight: bold;
  color: #68349b;
  text-decoration: none;
  margin: 0.6rem;
  padding: 0.6rem;
  transition: color 0.5s ease-in-out;
  transition: font-size 0.1s linear;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  padding: 0, 30rem;
  margin: 0, 50rem;
}

.burgermenu_knap {
  text-decoration-line: none;
  font-size: 18px;
  font-family: Didot;
  font-weight: bold;
  color: #68349b;
  text-decoration: none;
  margin: 0.6rem;
  padding: 0.6rem;
  transition: color 0.5s ease-in-out;
  transition: font-size 0.1s linear;
}

.Link {
  margin: 0;
  text-decoration-line: none;
  font-size: 18px;
  font-family: Didot;
  font-weight: bold;
  color: #68349b;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
  transition: font-size 0.1s linear;
}

.ommigfoto {
  margin-top: 150px;
}

/*Tekst*/

h1 {
  font-family: "Times New Roman", Times, serif;
  color: #68349b;
  margin-top: 150px;
  margin-left: 1ch;
  margin-right: 1ch;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  color: #68349b;
  margin-left: 2ch;
  margin-right: 2ch;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  color: #68349b;
  margin-left: 2ch;
  margin-right: 2ch;
}

h4 {
  font-family: "Times New Roman", Times, serif;
  color: #68349b;
  margin-left: 2ch;
  margin-right: 2ch;
}

h5 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin-left: 2ch;
  margin-right: 2ch;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: smaller;
  margin: 10px 0;
  max-width: 85ch;
  margin-left: 5ch;
  margin-right: 5ch;
}

a:hover {
  /*font-size: 22px;*/
  color: #a986cb;
}

img {
  max-width: 100%;
}
